span {
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

section {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

span {
  display: flex;
  position: absolute;
  width: 80%;
  text-align: justify;
}

@media (max-width: 1300px){
  span {
    top: 200px;
    left: 10%;
  }
}

@media (max-width: 1024px){
  span {
    top: 180px;
    left: 10%;
  }
}

@media (max-width: 768px){
  span {
    top: 150px;
    left: 9%;
  }
}

@media (max-width: 480px){
  span {
    top: 130px;
    width: 70%;
    left: 15%;
  }
}

@media (min-width:230px) and(max-width: 320px){
  span {
    top: 110px;
    width: 60%;
    left: 18%;
  }
}
