section {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

img {
  width: 100%;
}

span {
  display: flex;
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  width: 80%;
  text-align: justify;
}
